.root {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    gap: 16px;
    padding: 16px;
    background: var(--gray-50);
}

.header {
    gap: 16px;
    width: 100%;
}

div.draggable {
    width: 180px;
    height: 160px;
    background: var(--blue-200);
    justify-content: center;
    align-items: center;
}

div.layoutInfo {
    width: 100%;
    height: 160px;
}

div.layoutInfoBody {
    width: 100%;
    overflow: scroll;
}

.layInfoText {
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
}

.layOuts {
    flex: 1 1 auto;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
}

div.customGrid {
    flex: 0 0 auto;
}

div.customGridBody {
    width: 724px;
    padding: 0;
}

div.gridLayout {
    position: relative;
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    border: none;
    border-radius: 6px;
    box-shadow: var(--box-shadow-card);
    overflow: hidden;
}

div.rglItem {
    padding: 8px;
    height: 100%;
    width: 100%;
    background: var(--blue-50);
}

div.nativeGrid {
    flex: 0 0 auto;
}

div.nativeGridBody {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, 43px);
    height: 100%;
    width: 724px;
    padding: 0;
}

div.nativeGridItem {
    background: var(--blue-100);
}

div.nativeGridItemBody {
    padding: 8px;
    height: 100%;
    width: 100%;
}